<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4 well">
      <div class="row">
        <div> <h2> <%= @pokemon1.tipo_pokemon.nombre %> (<%= @pokemon1.estado&.nombre || "Saludable" %>) </h2> <%=image_tag("#{@pokemon1.tipo_pokemon.id}.png", size:'128x128', class:"img-thumbnail")%> </div>
      </div>
      <div class="row">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: <%=@pokemon1.vida/0.5%>%"  aria-valuenow="<%=@pokemon1.vida%>" aria-valuemin="0" aria-valuemax="50"> <%=@pokemon1.vida%>/<%=@pokemon1.vida_maxima%> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="row">
        <h2> Ataques </h2>
        <div class="btn-group" role="group" aria-label="Basic example">
          <% @pokemon1.ataques.each do |ataque| %>
          <%= link_to ataque.type, atacar_path(pokemon1: @pokemon1.id, pokemon2: @pokemon2.id, ataque: ataque.id, batalla: @batalla.id), class:'btn btn-primary', method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>




<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4 well">
      <div class="row">
        <div> <h2> <%= @pokemon2.tipo_pokemon.nombre %> (<%= @pokemon2.estado&.nombre || "Saludable" %>) </h2> <%=image_tag("#{@pokemon2.tipo_pokemon.id}.png", size:'128x128', class:"img-thumbnail")%> </div>
      </div>
      <div class="row">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: <%=@pokemon2.vida/0.5%>%"  aria-valuenow="<%=@pokemon2.vida%>" aria-valuemin="0" aria-valuemax="50"> <%=@pokemon2.vida%>/<%=@pokemon2.vida_maxima%> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="row">
        <h2> Ataques </h2>
        <div class="btn-group" role="group" aria-label="Basic example">
          <% @pokemon2.ataques.each do |ataque| %>
          <%= link_to ataque.type, atacar_path(pokemon1: @pokemon2.id, pokemon2: @pokemon1.id, ataque: ataque.id, batalla: @batalla.id), class:'btn btn-primary', method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
